@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table#tableid {
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgb(34, 100, 153) 0%, rgb(153, 68, 150) 100%);
}

/* .numeric {
  font-weight: 500;
  font-family: "Montserrat";
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-custom {
  background-color: rgba(252, 134, 23, 0.582);
}

.bg-imagineOptions {
  background-color: rgba(68, 172, 90, 0.479);
}

.addbutton {
  background-color: rgba(182, 25, 122, 0.479);
}

/* .conteinerWidht {
  width: 90%;
} */
.conteinerWidht {
  min-height: 100vh;
  background-image: url('./svg/nnnoise.svg');
}

@media (max-width: 768px) {
  .conteinerWidht {
    background-image: none;
  }
}

.containerWidth>* {
  margin-bottom: 20px;
}

.conteinerWidht>div:last-child {
  min-width: 360px;
}

.backgroundWhite {
  background-color: rgb(255, 255, 255);
}

.zonesButtons>div:first-child {
  margin-left: 0;
}

.zonesButtons>div:last-child {
  margin-right: 0;
}

.pacientBlock {
  max-width: 550px;
  min-width: 360px;

}


.pacientCard {

  background-color: rgba(22, 101, 129, 0.11);

  backdrop-filter: blur(0.7px);
  box-shadow: 0 10px 16px -4px rgba(0, 0, 0, 0.6);
}

.pacientStore {
  max-width: 600px;
  background-color: rgb(236, 236, 236);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pacientStore> :not(:last-child) {
  margin-bottom: 16px;
}

.fw400 {
  font-weight: 400;
}

.form-select {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 17px;
}

.imagineOptions {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(78, 228, 48, 0.2);
  /* Полупрозрачный черный цвет */
  pointer-events: auto;
  /* Это делает элемент активным для кликов */
  z-index: 10;
  /* Поместите слой выше формы */
  background-image: url("https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/15-512.png");
  /* Замените на путь к вашей картинке */
  background-size: contain;
  /* Масштабирование изображения, чтобы оно занимало всю площадь */
  background-position: center center;
  background-repeat: no-repeat;
  /* Запрет повторения изображения */
  border-radius: 8px;
}

.form-container {
  position: relative;
  /* Чтобы сделать overlay относительно этого контейнера */
  /* background-color: rgb(178 214 247 / 18%); */
  /* z-index: 1; */
}

.bg-glass {
  background-color: rgb(178 214 247 / 18%);
  backdrop-filter: blur(0.7px);

  /* z-index: 1; */
}

.bg-2ndglass {
  background-color: rgb(178 214 247 / 18%);
  /* backdrop-filter: blur(0.7px); */

  /* z-index: 1; */
}

/* -------------------------------------------------------- */
/* .glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
} */
.glass-button {
  font-weight: 300;
  /* display: inline-block; */
  /* padding: 24px 32px; */
  border: 0;
  /* text-decoration: none; */
  border-radius: 8px;
  background-color: rgb(255 255 255 / 0%);
  border: 1px solid rgb(245 245 245 / 64%);
  /* backdrop-filter: blur(30px); */
  color: rgb(237 237 237);

  font-size: 20px;
  /* letter-spacing: 2px; */
  cursor: pointer;
  /* text-transform: uppercase; */
  backdrop-filter: blur(0.7px);
  /* transition: 0.3s ease; */
}

.glass-button:hover {
  background-color: rgb(186 223 243 / 47%);
  /* border: 1px solid rgb(91 91 239 / 48%); */
  color: rgb(255 255 255);
  border: 1px solid rgb(245 245 245 / 64%);
}

.glass-button:active {
  background-color: rgb(121 196 237 / 47%);
}

.glass-button:first-child:active {
  background-color: rgb(186 223 243 / 47%);
  color: rgb(255 255 255);
  border: 1px solid rgb(245 245 245 / 64%);
}

/* -------------------------------------------------------- */

.b1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem;

  border: 1px solid #e4e4e4;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.addOption>div:first-child {
  width: 100%;
}

/* .tox {
  position: fixed;
} */
.itemZones {
  /* padding: 0.5rem 0.5rem; */
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* border: 1px solid #c0c0c0;
  border-radius: 0.5rem; */
}

.optionAddBlock {
  /* padding: 0.5rem 0.5rem; */
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
}

.zoneAddButton {
  display: flex;
  /* flex-direction: row; */
  margin-left: 1rem;

  /* margin-bottom: 1rem; */
}

.allChildrenMarginY * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.banner {
  width: 90px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 14px;
  left: 10px;
  /* background-color: #3498db87; */
  color: #fff;
  padding: 10px;
  padding-top: 0px;
  border: 1px solid rgb(245 245 245 / 64%);
  backdrop-filter: blur(0.7px);
  /* background-color: rgb(178 214 247 / 18%); */
  background-color: rgba(22, 101, 129, 0.11);
  z-index: 20;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url('./svg/nnnoise.svg'); */
}

.content p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
}

.content a,
img {
  width: 50px;
  height: auto;
  margin: 5px 0;
  border-radius: 25px;
}

.logo {
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  /* background-image: url(/src/img/telegram_qr.jpg); */
  background-size: cover;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.telegram-logo::after {
  background-image: url(/src/img/telegram_qr2.jpg);
}

.mono-logo::after {
  background-image: url(/src/img/mono_qr.jpg);
}

.privat-logo::after {
  background-image: url(/src/img/privat_qr.jpg);
}

.logo:hover::after {
  opacity: 1;
  top: -80px;
  left: 150%;
  /* box-shadow: 0 10px 16px -4px rgba(0, 0, 0, 0.6); */
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.6);
}

.privat-logo:hover::after {
  height: 300px;
  width: 300px;
  border: 1px solid;
  border-color: gray;
}

.mono-logo:hover::after {
  height: 300px;
  width: 350px;
}

.telegram-logo:hover::after {
  height: 300px;
  width: 250px;
}

button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

button:focus {
  outline: none;
}


.hidden {
  display: none;
}

.d-ruby {
  display: ruby;
}

.mt--025rem {
  margin-top: -0.25rem;
}